

*{

    background-color: black;
    color: white;

}
 h1{
    color: blueviolet;
    font-size: 95pxl;
}
h2{

    color: rgb(0, 128, 21);
    font size:100pxl; height: 5px; 
}
#lord shiva's power{
    color: bisque;
}
